Repository chas-academy/u10-klippklipp-g3, pull requests merged in 2021-05, with the labels that each got.

#4 Docker setup
  .prettierrc.json
  .vscode/settings.json
  backend/.gitignore
  backend/Dockerfile
  backend/auth/auth.js
  backend/auth/hash.js
  backend/auth/jwt.js
  backend/config.js
  backend/index.js
  backend/models/user.js
  backend/package-lock.json
  backend/package.json
  backend/passport.config.js
  backend/router.js
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/auth/index.js
  frontend/src/components/auth/login/index.js
  frontend/src/components/auth/login/style.scss
  frontend/src/components/auth/signup/index.js
  frontend/src/components/auth/signup/style.scss
  frontend/src/components/modal/index.js
  frontend/src/index.js
  frontend/src/layout/footer/index.js
  frontend/src/layout/footer/style.scss
  frontend/src/layout/header/index.js
  frontend/src/layout/main/index.js
  frontend/src/pages/index.js
  frontend/src/pages/landing-page/index.js
  frontend/src/pages/landing/index.js
  frontend/src/pages/landing/style.scss
  frontend/src/pages/not-found/index.js
  frontend/src/pages/not-found/style.scss
  frontend/src/pages/user/index.js
  frontend/src/pages/user/style.scss
  frontend/src/provider/ContextProvider.js
  frontend/src/routes.js
  frontend/src/styling/_typography.scss
  frontend/src/styling/style.scss
Labels: enhancement

#5 chore: add heroku buildpakcs
  app.json
Labels: documentation

#6 Frontend env
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/login/index.js
  frontend/src/components/auth/signup/index.js
  frontend/src/provider/ContextProvider.js
  netlify.toml
Labels: documentation, enhancement

#10 User schema
  backend/auth/auth.js
  backend/models/user.js
  backend/router.js
Labels: backend

#11 Rating schema
  backend/auth/auth.js
  backend/models/rating.js
  backend/models/user.js
  backend/passport.config.js
  backend/public/suppliers.js
  backend/router.js
Labels: backend

#12 User view scaffolding
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.js
  frontend/src/pages/user/index.js
  frontend/src/pages/user/style.scss
  frontend/src/styling/_colors.scss
  netlify.toml
Labels: frontend
